<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Perfil</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% if mi_formulario.errors %}
        <p style="color: red">Datos incorrectos,vuelva a intentar</p>
        {% endif %}
        <form action = "" method = "POST">{% csrf_token %}
            <table>
                {{ mi_formulario.as_table }}
            </table>

            <input type="submit" value="Enviar">
        </form>
        
        <script src="" async defer></script>
    </body>
</html>